section{
	background: #313f67;
	position:relative;
}

#join_user{
	position:absolute;
	top:50%; 
	left:50%;
	margin-left:-203px;
	margin-top:-255px;
	width:406px;
	height:518px;
	background: white;
	width:400px;
	
	
}
#join_user h3{
	
	font-size: 30px;
	color: black;
	text-align: center;
	width:200px;
	padding:10px 0;
	font-weight: 100;
	margin: 0 auto;
	font-weight:bold;
	
}
#join_user hr{
	border: 0;
    border-top: 3px solid #e5e5e5;
    margin: 0 30px 20px;
}

#join_user ul{
	width:224px;
	margin: 0 auto;
	
	
}

#join_user li{
	margin: 30px 0;
}

#join_user input{
	width:200px;
	padding: 10px; 
	font-size: 15px;
	border: 2px solid #e3e3e3;
 	border-radius: 15px;
	
}

#btn{

	width:224px !important;
	background:#313f67;
	color: white;
	border: 1px solid #313f67;

}
	

#btn:hover{
	background:#e3e3e3;
	color:#313f67;
}

