@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css");


*{
	margin:0;
	padding:0;
	font-family: 'Noto Sans KR', sans-serif;
}

a{
	text-decoration:none;
	color:inherit;
	cursor: pointer;
}

li{
	list-style-type:none;
}

/*clear*/
.clear{
	clear:both;
}
.clear:before, .clearf:after{
    content: " ";
    display: table;
}

/* 상단 메뉴 */
header{
	border-bottom:1px solid #bbb;
	height:50px;
	background:white;
	color:#bbb;
	position:relative;
	z-index: 99;
}

#top_menu{
	width:1200px;
	height:50px;
	margin:0 auto;
	position:relative;
	padding-top:8px;
}
#top_menu li{
	float:left;
	font-size:17px;
	color:#bbb;
}

#menu_list li{
	text-align:center;
	margin-top:2px;
	margin-left:170px;
}
#menu_list li a:hover{
	padding-bottom:5px;
	color:#313f67;
	font-weight:600;
	border-bottom:2px solid #313f67;
}

#logo{
	margin-left:10px !important;
}
#logo a{
	display:block;
	width:100%;
	color:#313f67;
	font-size:20px;
}

#logo span{
	font-weight:800;
}

#login {
	position:absolute;
	width:100px;
	top:5px;
	right:75px;
}
#login a{
	text-align:center;
	font-weight:600;
	display:block;
	width:100%;
	margin-left:50px;
	background: #313f67;
	color:white;
	padding:3px 0;
	border:2px solid #313f67;
	border-radius:20px;
}

#login a:hover{
	background:white;
	color:#313f67;
}

/* 섹션 */
section{
	background: #fcfcfc;
}

.content{
	position:relative;
	width:1200px;
	max-width:1200px;
	margin:0 auto;
	background: white;
	box-shadow: 10px 0px 20px 2px #ddd, -10px 0px 20px 2px #ddd;
}

#content_title{
	border-bottom:1px solid #bbb;
	text-align:center;
	padding:5px 0;
	font-size:25px;
	color:#313f67;
	background:rgba(255,255,255,0.5);
	z-index:90;
}

.scroll{
	position:fixed;
	width:1200px;
	top:0;
}

/* 화살표 버튼 */
#go_top{
	z-index:90;
}
#go_top i{
	color:#bbb;
	font-size:40px;
}

.show{
	position:fixed;
	bottom:20px;
	right:20px;
	
}