input{
	width:160px;
	font-size:15px;
	padding:5px;
}

form{
	position:relative;
	width:100%;
}

textarea{
	width:400px;
}
.submenu{
	border-top:1px solid #eee;
	margin:0 30px;
	width:115px;
	float:left !important;
}
.submenu h4{
	font-size:17px;
	font-weight:100;
	color:#bbb;
	padding:5px;
	border-bottom:1px solid #eee;
}
.submenu a:hover{
	color:#313f67;
	font-weight:600;
}

.box{
	overflow:hidden;
	width:100%;
	margin-top:30px;
}

.selected{
	color:#313f67 !important;
	font-weight:600 !important;
}

.info{
	margin-bottom:30px;
}
.inner{
	width:965px;
	overflow:hidden;
	float:right;
}

.store_pic{
	position:relative;
	overflow:hidden;
	z-index:1;
}
.store_pic img{
	float:left;
	width:320px;
	height:280px;
}

.store_info{
	position:relative;
	width:900px;
	top:-50px;
	background:white;
	margin:0 auto;
	border:1px solid #ddd;
	border-top:3px solid #313f67;
	z-index: 2;
	color:#444;
}

.store_info h2{
	font-size:40px;
	margin:30px 0;
	text-align: center;
}

.information{
	overflow:hidden;
	margin:0 auto;
	border-top:1px solid #f2f2f2;
	padding:15px;
	padding-left:20px;
	color:#666;
	font-size:17px;
	position: relative;
}
.information h3{
	font-size:20px;
	color:#f6b798;
}
.information h4{
	font-size: 15px;
	color:#bbb;
	font-weight:400;
}
.information p {
	line-height: 40px;
}
.information p i{
	margin-right:10px;
}
.information li{
	margin-top:10px;
}
.information span{
	color:tomato;
	font-size:14px;
}

.service_info{
	float:left;
	margin:20px;
	border:1px solid #eee;
	padding:15px;
}
.service_info input{
	width:130px;
	margin-bottom:10px;
}


.service_info li:last-child, .designer li:last-child{
	margin-right:0;
}
.service_info span{
	width:50px;
}



.time{
	width:30px;
}

.address{
	width:460px;
}

.himessage{
	width:500px;
	height:100px;
	font-size:15px;
	padding:5px;
}

.p_btn{
	width:80px !important;
	text-align:center;
	border:1px solid #f6b798;
	background:white;
	color:#f6b798;
	padding:5px;
	font-weight: 800;
	cursor: pointer;
	float:left;
}
.p_btn:hover{
	background:#f6b798;
	color:white;
}
.d_btn{
	width:95px !important;
}
.btnbox{
	overflow:hidden;
	margin-top:5px;
}

#go_delete{
	margin-left:20px;
}
.update{
	width:150px;
	text-align:center;
	background:#313f67;
	border:1px solid #313f67;
	color:white;
	padding:5px;
	font-weight: 800;
	cursor: pointer;
	position: absolute;
	right:15px;
	bottom:15px;
	border-radius: 20px;
}
.update:hover{
	color:#313f67;
	background: white;
}

.designer{
	float:left;
	margin:20px;
	border:1px solid #eee;
	padding:15px;
}
.designer img{
	width:150px;
	height:150px;
	border-radius:50%;
}
.designer input{
	font-size:15px;
	width:155px;
	margin-bottom:10px;
	padding:5px;
}

.insert_dpic{
	width:200px !important;
}

#imgbox{
	width:150px;
	margin:0 auto;
}