input{
	width:160px;
	font-size:15px;
	padding:5px;
}

form{
	position:relative;
}

textarea{
	width:400px;
}
.store_pic{
	position:relative;
	overflow:hidden;
	z-index:1;
}
.store_pic img{
	float:left;
	width:400px;
	height:350px;
}

.store_info{
	position:relative;
	width:1100px;
	top:-50px;
	background:white;
	margin:0 auto;
	border:1px solid #ddd;
	border-top:3px solid #313f67;
	z-index: 2;
	color:#444;
}

.store_info h2{
	font-size:40px;
	margin:30px 0;
	text-align: center;
}

.information{
	overflow:hidden;
	width:1000px;
	margin:0 auto;
	border-top:1px solid #f2f2f2;
	padding:15px;
	color:#666;
	font-size:17px;
	position: relative;
}
.information h3{
	font-size:20px;
	color:#f6b798;
}
.information h4{
	font-size: 15px;
	color:#bbb;
	font-weight:400;
	margin-bottom:20px;
}
.information p {
	line-height: 40px;
}
.information p i{
	margin-right:10px;
}
.information li{
	margin-top:10px;
}
.information span{
	color:tomato;
	font-size:14px;
}

.price_info{
	float:left;
	margin:20px 40px 20px 0;
	margin-right:40px;
	border:1px solid #eee;
	padding:15px;
}
.price_info input{
	width:160px;
	margin-bottom:10px;
}


.price_info li:last-child, .designer li:last-child{
	margin-right:0;
}
.price_info span{
	width:50px;
}

.designer{
	float:left;
	margin:20px 30px 0 0;
	text-align:center;
}

.designer img{
	width:150px;
	height:150px;
	border-radius:50%;
}

.designer_name{
	font-weight:800;
}

.time{
	width:30px;
}

.address{
	width:460px;
}

.himessage{
	width:500px;
	height:100px;
	font-size:15px;
	padding:5px;
}

.p_btn{
	width:95px !important;
	text-align:center;
	border:1px solid #f6b798;
	background:white;
	color:#f6b798;
	padding:5px;
	font-weight: 800;
	cursor: pointer;
	float:left;
}
.p_btn:hover{
	background:#f6b798;
	color:white;
}
.btnbox{
	overflow:hidden;
}

#go_delete{
	margin-left:20px;
}
.update{
	width:150px;
	text-align:center;
	background:#313f67;
	border:1px solid #313f67;
	color:white;
	padding:5px;
	font-weight: 800;
	cursor: pointer;
	position: absolute;
	right:0;
	bottom:15px;
}
.update:hover{
	color:#313f67;
	background: white;
}