img{
	width:100%;
	height:250px;
	border:1px solid #eee;
}

input{
	width:100%;
}
form{
	overflow:hidden;
}

.pic_box{
	width:280px;
	margin:15px;
	float:left;
	paddong:5px;
}

.insert_dpic{
	margin-top:10px;
}

.update{
	display:block;
	width:180px;
	border-radius:10px;
	color:white;
	background:#313f67;
	border:1px solid #313f67;
	font-size:17px;
	font-weight:800;
	padding:5px 0;
	cursor: pointer;
	margin:10px auto;
}